*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-fnt: 'Poppins', sans-serif;
    /* --sub-fnt:'Raleway', sans-serif; */
    /* --cyn: #00FFF7;
    --pnk: #FF0077; */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #222;
    font-family: var(--main-fnt);
    color: #fff;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 10px;
}
.card {
    padding: 1.5em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 20px;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    overflow: hidden;

}
.search {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

input.search-bar {
    border: none;
    border-radius: 20px;
    height: 30px;
    outline: none;
    box-shadow: none;
    width: calc(100% - 70px);
    padding: 10px;
    background-color: #7c7c7c6b;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    color: rgb(223, 223, 223);
}
input::placeholder {
    color: rgba(255, 255, 255, 0.438);
    font-weight: 100;
}

button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin-left: 5px;
    outline: none;
    color: rgb(214, 214, 214);
    cursor: pointer;
    background-color: #8f8f8f6b;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
    
}
button:hover {
    background-color: #8f8f8fc9;
    transform: rotate(360deg);
}
.weather {
    letter-spacing: .05em;
    font-weight: 100;
    z-index: 2;
}
h2.city {
    font-size: 150%;
    font-weight: 100;
}

h1.temp {
    margin: 0;
    font-size: 250%;
    font-weight: 100;
}
.description, .humidity, .windspeed {
    margin: 5px;
}
.description {
    text-transform: capitalize;
}
.flexbox {
    display: flex;
    align-items: center;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position:absolute;
    top: 10%;
    left: 40%;
}
img.icon2 {
    position: absolute;
    top: 18%;
    z-index: 1;
    width: 300px;
    filter: blur(2px);
    animation: animate 15s ease 0.5s infinite ;
    
}
@keyframes animate {
    0% {
        right: -60%;
        opacity: 10px;
    }
    50% {
        opacity: 5px;
    }
    100% {
        right: 86%;
        opacity: 0;
    }
}
.footer {
    position: absolute;
    bottom: 3%;
    font-family: var(--main-fnt);
    font-size: 1.2vh;
    letter-spacing: 1px;
}
.footer a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 100;
}
